html {
    max-width: 800px;

    padding:20px;
    margin: auto;
}
header {
    border-top: 1px solid red !important;
    padding-bottom: 5px;
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
    background-image: url(/img/Parchment.png);
}
nav {
    text-align: start !important;
    color: red !important;
}

body {
    background-color: #fdf5e6; /* Old Lace */
    color: #5a3e36; /* Dark Brown text */
    background-image: url('img\Parchment.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Georgia', serif; /* Classic font */
    text-align: center;
    margin: 30px;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Georgia', serif;
    color: #5a3e36; /* Dark Brown text */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

p {
    line-height: 1.4em;
    color: lightblue;

}
table {
    max-width: 600px;
    border-top: 1px dotted red !important;
    margin-left: auto;
    margin-right: auto;

}
img {
    max-width: 400px;
}
#newsletter-input {
    padding-top: 20px;
    color:rgb(110, 191, 191)
}
.contact-info::after {
    content: "\a";
    white-space: pre;
}
.section-heading {
    font-size: 1.5em;
    font-family: cursive;
}
#posts {
    font-size: 2em;
    margin:auto;
}
.top{
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    height: 100;
    max-width: 300px;
    margin: auto;
}
#Team-Members{
    display: flex;
    flex-direction: row; 
    flex: 3 0 600px;
    max-width: 400px;
    gap: 10px;
    justify-content:center;
    list-style-type: none;
    align-items: center;
    margin: auto;
    
}
#Minutes{
    list-style-type: none;
    text-align: center;
   
    
   
}

.blog-post {
    border-top: 1px dotted red !important;
};

